﻿@using CSSD.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Linen Kotor Internal</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No Bukti</label>
                                    <div class="col-md-8">
                                        <input type="text" name="No_Bukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tgl Mulai Berlaku</label>
                                    <div class="col-md-8">
                                        <input type="date" name="Tgl_Mutasi" required class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Linen Dari</label>
                                    <div class="col-md-8">
                                        <select required name="Lokasi_Asal" >@Html.Raw(HList.AmprahanDari)</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" required class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookuplaundry.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">Kode Barang</td>
                                                <td>Nama Barang</td>
                                                <td class="text-center" style="width:100px;">Satuan</td>
                                                <td class="text-center" style="width:80px;">Harga</td>
                                                <td class="text-center" style="width:100px;">QTY</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['No_Bukti'].value = r.Data.No_Bukti;
                    t['Tgl_Mutasi'].value = r.Data.Tgl_Mutasi ;
                    t['Lokasi_Asal'].value = r.Data.Lokasi_Asal;
                    t['Keterangan'].value = r.Data.Keterangan;

                    if (r.Data.Lokasi_Asal) {
                        const option = new Option(`${r.Data.Lokasi_Asal}`, r.Data.Lokasi_Asal, true, true);
                        $(t['Lokasi_Asal']).append(option);
                    }


                    // detail
                    $(t).find('.input-detail tbody').html('');
                    isetup.DetailKomponenClave = [];
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Barang_ID,
                            value.Kode_Barang,
                            value.Nama_Barang,
                            value.Kode_Satuan,
                            value.Harga,
                            value.Qty
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        No_Bukti: t['No_Bukti'].value,
                        Tgl_Mutasi: t['Tgl_Mutasi'].value,
                        Lokasi_Asal: t['Lokasi_Asal'].value,
                        Keterangan: t['Keterangan'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Barang_ID: $(value).data('id'),
                                Kode_Satuan: $(value).data('.kode_satuan'),
                                Qty: $(value).find('.Qty').val(),
                                Harga: $(value).data('.harga'),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                var value = '@Request.Cookies["CSSD_Section_LokasiId"].Value';
                var text = '@Request.Cookies["CSSD_Section_Name"].Value';


                $(isetup.form['Lokasi_Asal']).empty();
                $(isetup.form['Lokasi_Asal']).append(`<option></option>`);
                $(isetup.form['Lokasi_Asal']).append(`<option value="${value}" selected='selected'>${text}</option>`).val(value).trigger('change');

                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');

            }
        });

        $(isetup.form['Lokasi_Asal']).select2({
            ajax: {
                url: "@Url.Action("Other_Linen_Dari", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Kode + ' - ' + value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        isetup.DetailKomponenClave = [];

        isetup.adddetailbody = (barang_id, kode_barang, nama_barang, kode_satuan, harga, qty) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + kode_barang + '"]').length) {
                alerterror(nama_barang + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + barang_id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input

            _detail += '<td class="td-text">' + kode_barang + '</td>';
            _detail += '<td class="td-text ">' + nama_barang + '</td>';
            _detail += '<td class="td-text text-center kode_satuan">' + kode_satuan + '</td>';
            _detail += '<td class="td-text text-right harga">' + getcurrencyfromfloat(harga) + '</td>';
            _detail += '<td><input type="number" required class="form-control text-right  Qty" step="any" min="0" value="' + qty + '" /></td>';


            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            isetup.DetailKomponenClave.push({
                id: barang_id,
                harga: new Cleave($(isetup.form).find('tbody tr:last .harga')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });
        };

        isetup.customremovedetail = (t) => {
            var id = parseInt($(t).closest('tr').data('id'));
            DetailKomponenClave = DetailKomponenClave.filter(x => x.id != id);
            removedetail(t);

        }
    });
</script>