﻿@using CSSD.Models
@using CSSD.Helper
@using Newtonsoft.Json
@model ReportViewModel
@{
    ViewBag.Title = "Report " + Model.Name;
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<table class="table table-bordered table-xxs table-striped">
    <tbody>
        @foreach (var x in Model.Reports)
        {
            if (x.FileName != "sReport.rpt")
            {
                <tr>
                    <td>@x.Title</td>
                    <td style="width:80px;"><button onclick='openmodalreport("@x.FileName")' type="button" class="btn btn-success btn-block btn-xs"><i class="glyphicon glyphicon-print"></i></button></td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="modalreport" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Report</h4>
            </div>
            <form id="formprint" onsubmit="modalprintonsubmit(this,event)">
                <div class="modal-body">
                    <div class="form-horizontal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-print"></i> Print</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let category = '@Model.Category';
    const reportlist = @Html.Raw(JsonConvert.SerializeObject(Model.Reports));

    document.getElementById("formprint").addEventListener('submit', function () {
        this.submit.disabled = true;
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        $('#modaldeletereport').on('shown.bs.modal', function (e) {
            $('#modaldeletereport [type="submit"]').focus();
        });
    });

    const openmodalreport = (filename) => {
        let m = reportlist.find(x => x.FileName === filename);
        let param = '<input type="hidden" name="filename" value="' + filename + '"/>';
        $.each(m.Parameters, function (index, value) {
            let _hide = value.Name.indexOf("@@Copy") === 0 ? 'hide' : '';
            let defvalue = '';

            if (value.Name === '@@Lokasi_ID') _hide = 'hide';
            else if (value.Name === '@@SectionID') _hide = 'hide';
            else if (value.Name === '@@JenisBarangID') _hide = 'hide';

            if (value.Name === '@@SectionID') {
                defvalue = '@Request.Cookies["Inventory_Section_Id"].Value';
            } else if (value.Name === '@@Lokasi_ID') {
                defvalue = '@Request.Cookies["Inventory_Section_LokasiId"].Value';
            } else if (value.Name === '@@JenisBarangID') {
                defvalue = '1';
            } else if (value.Name === '@@SectionName') {
                defvalue = '@Request.Cookies["Inventory_Section_Name"].Value';
            }

            param += '<div class="form-group ' + _hide + '">';
            param += '<label class="control-label col-md-3">';
            param += value.Name.replace('@@', '').split('_').join(' ');
            param += '</label>';
            param += '<div class="col-md-9">';
            if (value.Name === '@@Supplier_ID') {
                param += '<select class="form-control param select-2-supplier" name="' + value.Name + '"></select>';
            }
            @*else if (value.Name === '@@Kelompok') {
                param += '<select class="form-control param select-2" name="' + value.Name + '">';
                param += '@Html.Raw(HList.ReportKelompok)';
                param += '</select>';
            }*@
            else if (value.Name === '@@Kategori') {
                param += '<select class="form-control param select-2-kategori" name="' + value.Name + '"></select>';
            }
            else if (value.ParameterType === 2) {
                param += '<select class="form-control param select-2" name="' + value.Name + '">';
                param += '<option value="">..</option>';
                param += '<option value="TRUE">TRUE</option>';
                param += '<option value="FALSE">FALSE</option>';
                param += '</select>';
            }
            else if (value.Name === '@@Barang_ID') {
                param += '<select class="form-control param select-2-barang" name="' + value.Name + '"></select>';
            }
            else {
                _type =
                    value.ParameterType === 1 ? "number" :
                    value.ParameterType === 3 ? "date" :
                    value.ParameterType === 5 ? "datetime" :
                    value.ParameterType === 6 ? "time" : "text";
                param += '<input class="form-control param" type="' + _type + '" name="' + value.Name + '" value="' + defvalue + '"/>';
            }
            param += '</div>';
            param += '</div>';
        });
        $('#modalreport form .modal-body .form-horizontal').html(param);
        $('#modalreport .select-2').select2();
        initselect2();
        $('#modalreport').modal();
    }

    const initselect2 = () => {

        $('#modalreport .select-2-barang').select2({
            ajax: {
                url: "@Url.Action("Barang", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, indel) { return { id: value.Id, text:  value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            }
        });

        $('#modalreport .select-2-supplier').select2({
            ajax: {
                url: "@Url.Action("Supplier", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, indel) { return { id: value.Kode, text:  value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            }
        });

        $('#modalreport .select-2-kategori').select2({
            ajax: {
                url: "@Url.Action("Kategori", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, indel) { return { id: value.Id, text:  value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            }
        });
    };

    const modalprintonsubmit = (t, e) => {
        e.preventDefault();
        let filename = $('#modalreport form')[0]['filename'].value;
        let param = [];
        let m = reportlist.find(x => x.FileName === filename);
        $.each($('#modalreport form .param'), function (index, value) {
            let _param = m.Parameters.find(y => y.Name === value.name);
            param.push({
                Name: _param.Name,
                ParameterType: _param.ParameterType,
                Value: value.value
            });
        });
        window.open('@Url.Action("ExportPDF")?category=@(Model.Category)&filename=' + filename + '&param=' + encodeURIComponent(JSON.stringify(param)), '_blank');
        $('#modalreport').modal('hide');
    }
</script>